header {
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background-color: #3e3c3c;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

label {
  display: none;
}

body {
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #1c1a19 !important;
  display: flex;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.myname {
  padding-left: 40px;
  text-decoration: none;
  color: #fff;
}

.endnavbar {
  margin-right: 20px;
  align-self: center;
}

.section-one {
  background-position: right bottom;
  padding: 120px 0 120px 20px;
  background-image: url(./images/Illustration.svg);
  background-repeat: no-repeat;
}

.section-one-paragraph {
  width: 327px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.Section-one-main-Head {
  width: 327px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.Section-one-Second-Head {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Section-one-SocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  gap: 20px;
  list-style-type: none;
}

.Section-two {
  background-color: #fff;
  padding: 20px 20px 80px 20px;
  margin: 0;
}

.Section-two-Title {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  text-align: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Section-two-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-two-underline {
  width: 60vh;
}

.Section-two-Skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.Section-two-paragraph {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Section-two-Subtitle {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  padding-top: 80px;
}

.Section-two-Images {
  list-style-type: none;
  width: 327px;
  text-align: center;
  padding: 0 20px;
}

.Section-two-Single-Skills {
  width: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 0;
}

.Section-two-ImgPlaceholder {
  width: 100%;
  height: auto;
  padding: 80px 0 30px;
}

.Section-Two-Project-Background {
  background: white;
  width: 100%;
}

.Project-Card-Works {
  margin-top: 40px;
  width: 100%;
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(./images/ImgsPlaceholder.png);
  display: flex;
  flex-direction: column;
}

.Project-Card-Title {
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: #000;
  background-color: none;
  font-size: 1.875rem;
}

.Project-Card-paragraph {
  padding: 0 15px 15px 15px;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 24px;
  background-color: none;
  color: #000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Project-Card-skills {
  padding: 0 40px;
  gap: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.Project-Card-Single-skills {
  float: left;
  margin: 0 13px 0 0;
  background: rgba(255, 255, 255, 0.24);
  padding: 15px;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.Project-Card-Buttom {
  order: 3;
  width: 100%;
  height: 48px;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 20px;
  background: #8f3c00;
}

.Section-Three {
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 120px 20px 120px 20px;
}

.Section-Three-Paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #f4f5f7;
  padding: 0 0 20px 20px;
}

.Section-Three-Title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Section-Three-First-Line {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  position: static;
}

.Section-Three-Single-Source {
  color: #fff;
}

.flex-just-for-hr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-Three-subline {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
  color: #fff;
}

.Section-Three-Main-Source {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
}

.Section-Three-Main-Single-Source {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
  color: #fff;
}

.Section-Three-Buttom {
  top: 395px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 20px;
  font-size: 17px;
  background-color: #8f3c00;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 161px;
  height: 48px;
  left: 24px;
}

.Section-Three-Source-col-1 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.Section-Three-Source-col-2 {
  display: flex;
  justify-content: center;
}

.Section-Three-Source-col-3 {
  display: flex;
  justify-content: center;
}

.Section-Gray-Line,
.Section-Three-line {
  width: 80%;
  height: 1px;
  margin-left: 45px;
}

.Section-four {
  padding-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-five {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-four-Title {
  margin: 120px 24px 58px 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
}

.Section-four-Contact-Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Section-four-FullName {
  width: 90%;
  border: none;
  border-bottom: solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #979493;
  padding: 12px;
  margin-bottom: 24px;
}

.Section-four-Email {
  width: 90%;
  border: none;
  border-bottom: solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #979493;
  padding: 12px;
  margin-bottom: 24px;
}

.Section-four-message {
  background: #fbf8f7;
  border: none;
  width: 90%;
  border-bottom: solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #979493;
  padding: 12px;
  margin-bottom: 24px;
}

.Section-four-Buttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #8f3c00;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 120px;
}

.Section-Gray-Lines {
  width: 100%;
}

.Section-four-socialmedia {
  display: flex;
  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.Iphone_Line {
  padding: 21px 0 8px 0;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.Header-Desktop-menu {
  display: none;
}

.header-hamburger {
  display: flex;
  margin: 0 20px 0 0;
  padding: 15px 0 15px 0;
}

.Header-logo {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 50px;
  padding: 10px 0 10px 0;
}

@media (min-width: 1000px) {
  header {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #3e3c3c;
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1c1a19 !important;
    overflow-x: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin: 0;
  }

  .Header-logo {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 90px;
    padding: 15px 0 15px 0;
  }

  .Header-nameofmenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 90px;
  }

  .Header-Desktop-menu {
    display: flex;
    padding: 15px 0 15px 0;
  }

  .header-hamburger {
    display: none;
  }

  .section-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: right;
    padding: 120px 0 307px 0;
    margin: 0;
    background-image: url(./images/Illustration-header.svg);
    background-repeat: no-repeat;
  }

  .Section-one-main-Head {
    padding: 90px 0 0 0;
    margin: 0;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #f55800;
    order: 0;
  }

  .Section-one-Second-Head {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #fff5e1;
    padding: 24px 0 0 0;
    margin: 0;
    order: 1;
  }

  .section-one-paragraph {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    width: 500px;
    padding: 24px 0 0 0;
    line-height: 24px;
    color: #f4f5f7;
    order: 2;
  }

  .Section-one-SocialMedia {
    list-style-type: none;
    flex-direction: column;
    flex-basis: 0;
    flex-shrink: 0;
  }

  .Section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 100px 100px 80px 100px;
    margin: 0;
  }

  .Section-two-Title {
    width: 327px;
    height: 83px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    text-align: center;
    color: #1c1a19;
  }

  .Section-two-center {
    display: flex;
    flex-direction: row;
    width: 900px;
  }

  .Section-two-underline {
    width: 90%;
    padding: 0 0 20px 10px;
  }

  .section-two-center-2 {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Section-two-Skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 297px;
  }

  .Section-two-paragraph {
    width: 327px;
    height: 147px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .Section-two-Subtitle {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
  }

  .Section-two-Images {
    list-style-type: none;
    width: 327px;
    text-align: center;
  }

  .Section-two-Single-Skills {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  .Section-two-ImgPlaceholder {
    width: 100%;
    height: auto;
  }

  .Section-two-Buttom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    background: #8f3c00;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .Section-Two-Project-Background {
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .Section-Three {
    background-image: url(./images/illustration-aboutme.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 120px 0 120px 0;
    width: 100%;
  }

  .myname {
    padding-left: 80px;
    text-decoration: none;
    color: #fff;
  }

  .Section-Three-Paragraph {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    order: 1;
    padding: 0 0 30px 0;
    color: #f4f5f7;
  }

  .Section-Three-Title {
    font-family: "Crete Round", sans-serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    margin: 0;
    color: #ff6b00;
  }

  .Section-Three-Buttom {
    order: 2;
    flex-grow: 0;
    font-size: 17px;
    background-color: #8f3c00;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .Section-Three-Source {
    display: flex;
    flex-direction: row;
    padding: 120px 0 120px 0;
    gap: 100px;
    align-items: none;
    width: 100%;
  }

  .Section-Three-Source-col-1 {
    display: flex;
    padding: 0 0 0 100px;
    margin: 0;
  }

  .Section-Three-Source-col-2 {
    display: flex;
  }

  .Section-Three-Source-col-3 {
    display: flex;
  }

  .Section-four {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .Section-four-Title {
    text-align: left;
  }

  .Iphone_Line {
    display: none;
  }

  .Section-four-Contact-Form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .section-five {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
